@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
  

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }

  * {
    /* @apply border-foreground/20; */
    @apply text-neutral-950;
  }

  h1 {
    @apply text-4xl font-semibold mb-6;
  }
  h2 {
    @apply text-3xl font-semibold mb-4;
  }
  h3 {
    @apply text-2xl font-semibold mb-3;
  }
  h4 {
    @apply text-xl font-medium mb-3;
  }
  h5 {
    @apply text-lg font-medium mb-2;
  }
  h6 {
    @apply text-base font-semibold mb-1;
  }
  p {
    @apply text-base font-normal;
  }
  .caption {
    @apply text-xs font-normal mt-2 text-subtler;
  }
}

@layer utilities {
  .text-default {
    @apply text-neutral-900 dark:text-neutral-100;
  }
  
  .text-subtle {
    @apply text-neutral-700 dark:text-neutral-300;
  }
  
  .text-subtler {
    @apply text-neutral-500 dark:text-neutral-400;
  }
  
  .text-subtlest {
    @apply text-neutral-400 dark:text-neutral-500;
  }

  .text-inverse {
    @apply text-neutral-50 dark:text-neutral-900;
  }
  
  .bg-default {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }
  
  .bg-surface {
    @apply bg-neutral-100 dark:bg-neutral-800;
  }
  
  .border-outline {
    @apply stroke-neutral-200 dark:stroke-neutral-700;
  }
}

